{% extends 'layout.html' %} <!-- extending from layout present in the templates of project directory -->
{% debug %}
{% block head %}
<title>Homepage</title>
{% endblock %}

{% block body %}
<h1>Welcome to this E-Commerce App</h1>
<div>
    <p>If you are a seller,click here:</p>

    <!-- links to the seller dashboard -->
    <a href="{% url 'seller:dashboard'  %}">
        <button>Seller</button>
    </a>
</div>

<div>
    <p>If you are a buyer,click here:</p>

    <!-- links to the seller dashboard -->
    <a href="{% url 'buyer:dashboard' %}">
        <button>Buyer</button>
    </a>
</div>
<br>
<br>
<br>

 <a href="{% url 'user_authentication:logout' %}">
        <button>Log Out</button>
    </a>
{% endblock %}

