{% extends 'layout.html' %}

{% block head %}
<title>User_authentication</title>
{% endblock %}
{% block body %}
<h1>Welcome!</h1>
<br>

<p>If you have already registered as a buyer or a seller, you can directly log in. No need to register again</p>
 <!-- links to the login path -->
<h3>If you are already registered,click Here to login:</h3>
 <a href="{% url 'user_authentication:login' %}">
        <button>Login</button>
 </a>

<!-- links to the registration path -->
<h3>If you are not registered, click here to register:</h3>
  <a href="{% url 'user_authentication:register' %}">
        <button>Register</button>
    </a>

{% endblock %}
